<div class="panel panel-default">
   <h3>Add New Member to the Club</h3>
 <div class="panel-body">
   <div>
     <div>
       <label>Member First Name:</label>
       <br>
       <input #newFirst>
     </div>

     <div>
       <label>Member Last Name:</label>
       <br>
       <input #newLast>
     </div>

     <div>
       <label>Member Age:</label>
       <br>
       <input #newAge>
     </div>

     <div>
       <label>Member Characters:</label>
       <br>
       <textarea #newCharacters></textarea>
     </div>
     <button (click)="submitForm(newFirst.value, newLast.value, newAge.value, newCharacters.value); newFirst.value=''; newLast.value=''; newAge.value=''; newCharacters.value=''">Add</button>
   </div>
 </div>
</div>

<div>
  <app-members></app-members>
</div>
